# 1. 자료형

## 자료입력

### (1) string

string은 파이썬이 '문자열'로 인식하는 자료를 의미합니다.

In [1]:
word1 = '안녕하세요'

In [2]:
##string 자료형을 입력할 때는 양쪽에 따옴표 형태를 통일해 주어야 합니다.
word2 = 'bada에 오신걸 환영합니다"
word3 = "오늘의 교육내용은'

SyntaxError: EOL while scanning string literal (3731545265.py, line 2)

In [3]:
word4 = "python 기초의 이해 입니다"

In [4]:
word5 = '1000'

### (2) integer & float

In [5]:
## Integer는 python에서 '정수' 형태의 숫자를 나타내는 자료형입니다.
integer1 = 1
integer2 = -100

In [6]:
## Float는 python에서 '실수' 형태의 숫자를 나타내는 자료형입니다.
float1 = 1.0
float2 = -100.0
float3 = 50000.067

In [7]:
print(float1)

1.0

In [8]:
## 숫자를 인식하는 두 형태를 더할 때는 자동으로 더 넓은 범위인 float(실수) 형태로 변환되어 더해집니다.
integer1 + float1

2.0

### (3) bool

In [9]:
bool1 = True
bool2 = False

## 자료형 확인

In [10]:
##type의 활용
type(word1)

str

In [11]:
type(integer1)

int

In [12]:
type(float1)

float

In [13]:
type(bool1)

bool

## 자료형 변환

In [14]:
int(word5)

1000

In [15]:
int(word1)

ValueError: invalid literal for int() with base 10: '안녕하세요'

In [16]:
float(word5)

1000.0

In [17]:
int(float1)

1

In [18]:
##float형 자료를 int형으로 변환하게 되면 소숫점 뒷자리들이 사라지게 된다.
int(float3)

50000

In [19]:
int(bool1)

1

In [20]:
int(bool2)

0

In [21]:
bool(integer1)

True

In [22]:
bool(integer2)

True

In [23]:
bool(0)

False

In [73]:
bool(-5000)

True

오직 0 만이 bool로 변환했을 때 False 값을 출력한다

In [24]:
word1 + word4

'안녕하세요python 기초의 이해 입니다'

In [25]:
word1 + ' ' + word4

'안녕하세요 python 기초의 이해 입니다'

In [26]:
word4.split()

['python', '기초의', '이해', '입니다']

In [27]:
word4.split('기')

['python ', '초의 이해 입니다']

In [28]:
intro_list = word4.split()

In [29]:
' '.join(intro_list)

'python 기초의 이해 입니다'

In [30]:
int(''.join(['1', '2']))

12

## 연산자

In [62]:
num1 = 9
num2 = 4

In [66]:
#사칙연산
#더하기
print(num1 + num2)
#빼기
print(num1 - num2)
#곱하기
print(num1 * num2)
#나누기
print(num1 / num2)

13
5
36
2.25

In [68]:
## 나눗셈에서 몫만 가져오는 방법
print(int(num1/num2))
print(num1 // num2)

2
2

In [70]:
## 나눗셈에서 나머지만 가져오기
print(num1 % num2)

1

In [72]:
## 승수 표시하기 9의 4승
(num1 ** num2)

6561

# 2. List 와 Dictionary

## List

In [31]:
#List는 대괄호 형태 안에 원소를 담는 형태로 구성된다.
list1 = [1,2,3,4,5,6]
list2 = list(range(7))

In [32]:
list1

[1, 2, 3, 4, 5, 6]

In [33]:
list2

[0, 1, 2, 3, 4, 5, 6]

In [34]:
list3 = list(range(0,7,2))

In [35]:
list3

[0, 2, 4, 6]

In [36]:
list4 = ['bada', 2, '기 여러분', "환영합니다"]

In [37]:
list4

['bada', 2, '기 여러분', '환영합니다']

In [38]:
' '.join(list4) ## join은 문자열을 합치는 것

TypeError: sequence item 1: expected str instance, int found

### 원소 호출

In [39]:
#python는 index를 0부터 시작한다.
list4[0]

'bada'

In [40]:
list4[1]

2

In [41]:
## 다양한 원소를 프린트 하고 싶은경우,
list4[0:2]

['bada', 2]

In [42]:
#print를 활용하지 않으면 python은 마지막에 입력된 코드에 있는 것만 출력해준다
list4[0]
list4[1]

2

In [43]:
print(list4[0])
list4[1]

bada

2

## Dictionary

In [44]:
## Dictionary는 Key값과 Value 값으로 구성된다.
## Dictionary는 중괄호{}로 선언한다.
Dictionary1 = {'bada 운영진' : ['김지욱', '김종현', '조용준', '조수현', '김수민', '안가을', '강현우'], 'bada 2기 학회원' : ['오지민', '최혜온', '김정현', '김정민', '박소현', '이정수', '권소현', '이현정', '최용진', '박서정', '김수은', '송태훈'], }

In [45]:
## Dictionary의 Key 값을 중심으로 해당 내용을 호출할 수 있다.
Dictionary1['bada 운영진']

['김지욱', '김종현', '조용준', '조수현', '김수민', '안가을', '강현우']

In [46]:
Dictionary1['bada 2기 학회원']

['오지민',
 '최혜온',
 '김정현',
 '김정민',
 '박소현',
 '이정수',
 '권소현',
 '이현정',
 '최용진',
 '박서정',
 '김수은',
 '송태훈']

In [47]:
## Dictionary를 좀더 쉽게 구성하려면 미리 List를 구성해도 좋다.
Member_list1 = ['김지욱', '김종현', '조용준', '조수현', '김수민', '안가을', '강현우']
Member_list2 = ['오지민', '최혜온', '김정현', '김정민', '박소현', '이정수', '권소현', '이현정', '최용진', '박서정', '김수은', '송태훈']
Department2 = ['수학과', '경영학과', '경영학과', '중어중문학과', '경영학과', '사회학과', '식품자원경제학과', '경영학과', '컴퓨터학과', '경영학과', '통계학과', '경영학과']

In [48]:
Dictionary2 = {'bada 운영진' : Member_list1, 'bada 2기 학회원' : Member_list2, '소속학과' : Department2}

In [49]:
Dictionary2['bada 운영진']

['김지욱', '김종현', '조용준', '조수현', '김수민', '안가을', '강현우']

In [50]:
Dictionary2['bada 2기 학회원']

['오지민',
 '최혜온',
 '김정현',
 '김정민',
 '박소현',
 '이정수',
 '권소현',
 '이현정',
 '최용진',
 '박서정',
 '김수은',
 '송태훈']

In [51]:
Dictionary2['소속학과']

['수학과',
 '경영학과',
 '경영학과',
 '중어중문학과',
 '경영학과',
 '사회학과',
 '식품자원경제학과',
 '경영학과',
 '컴퓨터학과',
 '경영학과',
 '통계학과',
 '경영학과']

# 3. 반복문

## for 문

In [52]:
## for 문은 (for n in 범위 :) 형태로 (범위에 있는 각 n에 대해여)라는 뜻.
## 범위 안에 있는 각 원소를 첫번째 원소부터 차례대로 진행되며, 마지막 원소까지 가면 자동으로 반복문이 종료된다.

for D in Department2:
    print(D)

수학과
경영학과
경영학과
중어중문학과
경영학과
사회학과
식품자원경제학과
경영학과
컴퓨터학과
경영학과
통계학과
경영학과

## while 문

In [53]:
## while문은 (while (조건) :) 의 형태로 (조건이 '참'인동안)의 뜻.
##'조건'이 '참'인동안 수행되며, 조건이 거짓이 되면 종료된다.

i = 0
number = len(Department2)
while i < number:
    print(Department2[i])
    
    i = i + 1

수학과
경영학과
경영학과
중어중문학과
경영학과
사회학과
식품자원경제학과
경영학과
컴퓨터학과
경영학과
통계학과
경영학과

# 4. 조건문

반복문과 결합하여 조건문을 살펴보자

In [54]:
checking_num = 0

for n in Department2:
    if n == '경영학과':
        checking_num = checking_num + 1

checking_num

6

In [55]:
business_num = 0
other_department = 0


for n in Department2:
    if n == '경영학과':
        business_num = business_num + 1
    else:
        other_department = other_department + 1
        

print(business_num)
print(other_department)

6
6

In [56]:
##while 문
## while 문은 해당 원소의 index를 사용하는 경우가 많아, index만 알고 있다면 다른 리스트의 원소도 추출해낼 수 있다.

i2 = 0
length = len(Department2)

people_from_business = []
people_from_other_department = []

while i2 < length:
    if Department2[i2] == '경영학과':
        people_from_business.append(Member_list2[i2])
    else:
        people_from_other_department.append(Member_list2[i2])
        
    i2 = i2 + 1
    
print(people_from_business)
print(people_from_other_department)

['최혜온', '김정현', '박소현', '이현정', '박서정', '송태훈']
['오지민', '김정민', '이정수', '권소현', '최용진', '김수은']

In [57]:
i2 = 0
length = len(Department2)

people_from_business = []
people_from_other_department = []

while i2 < length:
    if Department2[i2] == '경영학과':
        people_from_business.append(Member_list2[i2])
    elif Department2[i2] != '경영학과':
        people_from_other_department.append(Member_list2[i2])
        
    i2 = i2 + 1
    
print(people_from_business)
print(people_from_other_department)

['최혜온', '김정현', '박소현', '이현정', '박서정', '송태훈']
['오지민', '김정민', '이정수', '권소현', '최용진', '김수은']

In [61]:
i2 = 0
length = len(Department2)

people_from_business = []
people_from_other_department = []

while i2 < length:
    if Department2[i2] == '경영학과':
        people_from_business.append(Member_list2[i2])
        break
    elif Department2[i2] != '경영학과':
        people_from_other_department.append(Member_list2[i2])
        
    i2 = i2 + 1
    
print(people_from_business)
print(people_from_other_department)

['최혜온']
['오지민']

In [59]:
how_to_input = input('수를 입력하세요 : \n')
## 여기서 입력받은 값은 str 자료형으로 들어가니, 자신이 원하느 형태의 자료형에 따라 자료형 변환을 시켜주어야 한다.

수를 입력하세요 :
 3

## 문제를 풀어봅시다

while 문과 if 문을 결합하면 while True: 문을 사용할 수도 있다.

다음의 문제를 풀어보자(출처 : 2022 1학기 COSE102 컴퓨터 프로그래밍2 2분반 수업자료)
 독일의 수학자 로타르 콜라츠는 아래와 같은 추측을 하였다.
 "어떤 수가 있을 때, 이 수가 짝수면 2로 나누고, 홀수면 3을 곱한후 1을 더한다. 이 과정을 반복하다보면 반드시 1이 나오지 않을까"

아래의 입출력 예시가 나오도록 작성하시오( 입력한 자료는 3)

In [52]:
a = input('수를 입력하세요 : ')
a = int(a) ## input은 입력 받은 자료를 string 형태로 저장하기 때문에 숫자를 입력하는 경우에는 int로 자료형을 다시 변환해주어야 한다.

while True:
    if a == 1:
        break
    elif (a%2) == 0:
        a = int(a/2)
    else:
        a = int((a*3) + 1)
    print(a)
    
print('역시 콜라츠는 대단하네요.')

수를 입력하세요 :  3

10
5
16
8
4
2
1
역시 콜라츠는 대단하네요.

# 5. 함수

사용하고자 하는 기능을 함수로 정해두고 그것을 호출하여 사용하여보자

위의 콜라츠 문제를 함수로 정의해보자

In [53]:
def Collatz(k):
    while True:
        if k == 1:
            break
        elif (k%2) == 0:
            k = int(k/2)
        else:
            k = int((k*3) + 1)
        print(k)
    
    print('역시 콜라츠는 대단하네요.')

In [54]:
Collatz(3)

10
5
16
8
4
2
1
역시 콜라츠는 대단하네요.

In [55]:
Collatz(40)

20
10
5
16
8
4
2
1
역시 콜라츠는 대단하네요.

In [56]:
def Collatz2(k):
    while True:
        if k == 1:
            break
        elif (k%2) == 0:
            k = int(k/2)
        else:
            k = int((k*3) + 1)
        print(k)
    
    return print('역시 콜라츠는 대단하네요.')
    
    print('bada')

In [57]:
Collatz2(3)

10
5
16
8
4
2
1
역시 콜라츠는 대단하네요.

return은 함수가 어떠한 값을 반환할지를 정해주는 역할을 함과 동시에 return 이후의 함수 내의 코드는 무시하도록 하는 역할도 한다.

만약 return과 반복문을 사용할 경우 주의해야한다.

In [58]:
def Bada_member(k):
    i = 0
    while i < k:
        return Member_list2[i]
        i = i + 1

In [59]:
Bada_member(5)

'오지민'

Q. 여기서 i에 저장되어 있는 값은?

In [60]:
def Bada_member2(k):
    i = 0
    while i < k:
        print(Member_list2[i])
        i = i + 1

In [61]:
Bada_member2(5)

오지민
최혜온
김정현
김정민
박소현

# 6. Class

초보자는 알려하면 다칩니다

# Assignment

각 학회원의 이름의 첫번째글자들을 1-12번째 원소로 하고 2번째글자를 13-24번째 원소, 세번째 글자를 25-36번째 원소로 하는 List를 만드는 중첩문을 만들어보자

그 list의 중복값을 제거하고 사전 순서로 정렬을 해보자

In [70]:
a_i = 0
abnormal_list = []

while a_i < 3:
    for x in Member_list2:
        abnormal_list.append(x[a_i])
    
    a_i = a_i + 1
    
print(abnormal_list)

the_set = set(abnormal_list)
the_list = sorted(list(the_set))

print(the_list)

['오', '최', '김', '김', '박', '이', '권', '이', '최', '박', '김', '송', '지', '혜', '정', '정', '소', '정', '소', '현', '용', '서', '수', '태', '민', '온', '현', '민', '현', '수', '현', '정', '진', '정', '은', '훈']
['권', '김', '민', '박', '서', '소', '송', '수', '오', '온', '용', '은', '이', '정', '지', '진', '최', '태', '현', '혜', '훈']